<div>
    <h1><b>QUOTES</b></h1>
    <p>Where we quote your quotes</p>
</div>

<h2>Quotes from megastars</h2>
<div>
    <button (click)="onNew()" class="btn btn-info form-btn" id="form-btn">Add a new quote</button>
    <form (ngSubmit)="onSave()" *ngIf="showNew" id="quote-form">
        <span (click)="onCancel()" class="del">
            <div class="form-group">
                <label for="text-input">Quote</label>
                <textarea class="form-control" placeholder="Type here" rows="5" name="text" id="text-input" required></textarea>
            </div>
        </span>
    </form>
</div>

